---
import Layout from "../layouts/Layout.astro";
import Sidebar from "../components/Sidebar";
import MainContent from "../components/MainContent";
---


<Layout title="">
    <div class="overflow-auto flex flex-row min-h-max">
        <Sidebar isOpen={true}></Sidebar>
        <MainContent></MainContent>
    </div>
    
</Layout>