---
import Layout from "../layouts/Layout.astro";
---


<Layout title="Welcome to Astro.">
    <main class="container flex flex-col gap-8 py-10 mt-10 min-h-screen justify-center">
        <h1>Deployment</h1>
    </main>
</Layout>