---
import Layout from "../layouts/Layout.astro";
import pingwind from "../assets/pingwind.jpg";
import { Image } from "astro:assets";
---

<Layout title="Titan Container">
  <main class="container flex flex-col gap-8 p-10 mt-10 min-h-screen justify-center text-center md:text-left">
    <!-- <Image
    src={pingwind}
    alt="Pinguin on a rock"
    width={800}
    class="object-cover rounded-xl shadow-xl"
  /> -->
  <h1 class="text-2xl font-bold decoration-blue-400">
    Build Your Applications on <span class="font-extrabold bg-clip-text text-transparent bg-gradient-to-r from-pink-500  to-blue-500 font-black">Titan Container</span>!
  </h1>
  <p>
  
    <strong>Titan Container</strong> 
    is an important component of the Titan network. It is a container management tool specifically designed for decentralized cloud computing networks. Leveraging the latest container technology, Titan-Container assists developers in effortlessly deploying and managing applications on the Titan network.

  </p>

  <div class="flex justify-center items-center">
    <a class="px-6 py-3 bg-blue-500 text-white rounded-full hover:bg-op-80" href="/deploy">
      Get Started
    </a>
  </div>
  
  </main>
</Layout>
