---
export interface Props {
  title: string;
}

const { title } = Astro.props;

import "@fontsource/montserrat";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="#232324" />
    <title>{title}</title>
  </head>
  <body class="text-base bg-base fg-base min-h-screen">
    <slot />
  </body>
</html>

<script>
  (function() {
    const prefersDark = window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches
    const setting = localStorage.getItem('theme') || 'auto'
    if (setting === 'dark' || (prefersDark && setting !== 'light'))
      document.documentElement.classList.toggle('dark', true)
  })()
  </script>